.detailCustomer {
  &__delete {
    margin-bottom: 15px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    color: #000;
    font-size: 17px;
    b {
      font-size: 19px;
    }
  }
  &__arrow {
    color: #888;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    &:hover {
      color: #5e5e5e;
    }
  }
  &__button {
    color: red;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: all 0.2s linear;
    background: none;
    border: 1px solid transparent;
    font-size: 17px;
    padding: 0;
  }
  &__box {
    background: #fff;
    border: 1px solid #dee2e6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    margin-bottom: 40px;
    &:last-child {
      margin: 0;
    }
  }
  &__header {
    padding: 12px 0;
    border-bottom: 1px solid #dee2e6;
    background: #f4f6f8;
  }
  &__title {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 17px;
      font-weight: 400;
      color: #0088ff;
    }
  }
  &__edit {
    font-size: 17px;
    font-weight: 400;
    background: #0088ff;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  &__content {
    display: flex;
    width: 95%;
    margin: 0 auto 20px;
  }
  &__info {
    width: 50%;
  }
  table {
    margin-bottom: 0;
    th,
    td {
      border-bottom: 1px solid #dee2e6 !important;
      border-top: none !important;
      padding: 12px 0;
      font-size: 16px;
    }
  }
  &__service {
    width: 95%;
    margin: 0 auto;
    table th {
      padding: 12px 0;
    }
    tr {
      transition: all 0.2s linear;
      background: #fff;
      &:hover {
        background: #f3f3f3;
      }
    }
  }
  &__group {
    text-align: right;
    margin: 20px auto;
    width: 95%;
    font-size: 17px;
    button {
      color: #fff;
      background: #0088ff;
      border: none;
      padding: 7px 15px;
      border-radius: 5px;
    }
  }
  @media (max-width: 1180px) {
    &__title span {
      font-size: 16px;
    }
    &__edit {
      font-size: 15px;
    }
    table {
      th {
        padding: 12px 10px;
        font-size: 15px;
      }
      td {
        padding: 12px 10px;
        font-size: 15px;
      }
    }
    &__group {
      font-size: 15px;
    }
  }
  @media (max-width: 767px) {
    &__box {
      margin-bottom: 15px;
    }
    &__delete {
      margin-bottom: 10px;
    }
    &__content {
      flex-wrap: wrap;
    }
    &__info {
      width: 100%;
      table {
        th,
        td {
          width: 50%;
          padding: 10px 10px;
        }
      }
    }
    &__service {
      overflow-x: auto;
      table {
        width: 700px;
        table {
          width: 500px;
          th,
          td {
            padding: 10px 10px;
          }
        }
      }
    }
    &__group {
      margin: 10px auto;
    }
  }
  @media (max-width: 320px) {
    &__arrow {
      font-size: 15px;
    }
    &__button {
      font-size: 15px;
    }
    &__date {
      gap: 5px;
      input {
        width: 55%;
      }
    }
    &__tools {
      margin: 10px auto;
      gap: 10px;
    }
  }
}
