.customer {
  &__header {
    border-bottom: 1px solid #dee2e6;
    background: #fff;
    padding: 15px 20px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 18px;
      font-weight: 600;
      color: #00abe6;
    }
  }
  &__button {
    background: #0088ff;
    border: none;
    padding: 7px 15px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  &__box {
    background: #fff;
    border: 1px solid #dee2e6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
  &__tools {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    gap: 5px;
  }
  &__left {
    display: flex;
    gap: 5px;
  }
  &__search {
    width: 100%;
    min-width: 200px;
    display: flex;
    &--1 {
      max-width: 25%;
    }
    input {
      border: 1px solid #ccc;
      padding: 5px 5px;
      width: 100%;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &Submit {
      border: none;
      background-color: #00abe6;
      height: 100%;
      padding: 10px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
      img {
        width: 15px;
        height: auto;
        display: block;
      }
    }
  }
  &__filter {
    select {
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 5px;
      outline: none;
    }
  }
  &__dateInput {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
  .date__picker .react-date-picker__wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 5px;
  }
  &__dateSubmit {
    color: #fff;
    background-color: #00abe6;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }
  &__content {
    padding: 0px 20px 5px;
  }
  &__more {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: blue;
    padding: 0;
    cursor: pointer;
  }
  &__line a {
    color: #0088ff;
  }
  @media (max-width: 1180px) {
    &__title span {
      font-size: 16px;
    }
  }
  @media (max-width: 920px) {
    &__tools {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      padding: 20px 20px 10px;
    }
    &__search {
      &--1 {
        max-width: 50%;
      }
    }
  }
  @media (max-width: 468px) {
    &__left,
    &__dateInput {
      flex-wrap: wrap;
    }
    &__filter {
      width: 100%;
      select {
        width: 100%;
      }
    }
  }
  @media (max-width: 375px) {
    &__date {
      input {
        width: 26%;
      }
    }
  }
  @media (max-width: 320px) {
    &__title span {
      font-size: 15px;
    }
    &__button {
      font-size: 13px;
    }
    &__date {
      input {
        width: 25%;
      }
      b {
        font-size: 13px;
      }
      button {
        padding: 7px 5px;
        font-size: 14px;
      }
    }
    &__search,
    &__filter {
      width: 100%;
    }
  }
  @media (max-width: 280px) {
    &__title span {
      font-size: 14px;
    }
    &__button {
      font-size: 12px;
      padding: 5px 3px;
    }
    &__date {
      input {
        width: 21%;
      }
    }
  }
}
