.service {
  &__header {
    padding: 12px 0;
    border-bottom: 1px solid #dee2e6;
    background: #f4f6f8;
  }
  &__title {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 18px;
      font-weight: 400;
      color: #0088ff;
    }
  }
  &__button {
    background: #0088ff;
    border: none;
    padding: 7px 15px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  &__box {
    background: #fff;
    border: 1px solid #dee2e6;
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
  &__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 95%;
    margin: 25px auto;
  }
  &__search {
    width: 30%;
    position: relative;
    display: flex;

    input {
      width: 100%;
      border: 1px solid #ccc;
      border-right: none;
      padding: 0 10px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #999;
    }

    input:focus {
      color: #000;
    }

    button {
      width: 40px;
      height: 37px;
      border: 1px solid #0088ff;
      background: #0088ff;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
  }
  &__content {
    margin: 0 auto;
    width: 95%;
  }
  table {
    border: 1px solid #dee2e6;
    margin-bottom: 20px;
    th {
      padding: 12px 20px;
      background: #f4f6f8;
    }
    td {
      padding: 12px 20px;
    }
    tr {
      transition: all 0.2s linear;
      background: #fff;
      &:hover {
        background: #f3f3f3;
      }
    }
  }
  &__line a {
    color: #0088ff;
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 1180px) {
    &__title span {
      font-size: 16px;
    }
    &__search {
      width: 40%;
    }
    &__tools {
      margin: 20px auto;
    }
  }
  @media (max-width: 425px) {
    &__search {
      width: 100%;
    }
    &__tools {
      margin: 15px auto;
    }
    &__content {
      overflow-x: auto;
      table {
        width: 480px;
        th,
        td {
          padding: 10px 10px;
        }
      }
    }
  }
}
