.headerItem__menu {
  a {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    &:hover {
      background-color: rgb(243 244 246 / 1);
    }
  }
}
