.customer {
  &__toggle {
    color: #6e6e6e;
    margin-left: -1px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 5px;
    margin-left: -1px;
  }
}
