.modal-box {
  width: 100%;
  max-width: 1024px !important;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.modal-close {
  font-size: 16px !important;
  float: unset !important;
}
.modal__head {
  display: flex;
  border-bottom: 1px solid #ccc;
  &Item {
    flex: 1 1 auto;
    min-width: 25%;
    font-weight: 600;
    padding: 5px;
    word-wrap: break-word;
    &--1 {
      min-width: 20%;
    }
    &--2 {
      min-width: 40%;
    }
  }
}
.modal__col {
  display: flex;
  border-bottom: 1px solid #ccc;
  &Item {
    flex: 1 1 auto;
    min-width: 25%;
    padding: 5px;
    word-wrap: break-word;
    &--1 {
      min-width: 20%;
    }
    &--2 {
      min-width: 40%;
    }
  }
}
