.header {
  background: #243954;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  position: relative;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
  }
  &__icon {
    display: flex;
    align-items: center;
  }
  &__des {
    font-size: 19px;
    font-weight: 600;
    img {
      display: none;
    }
  }
  &__click {
    font-size: 19px;
    font-weight: 600;
    img {
      display: none;
    }
  }
  &__content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 5px 0;
    gap: 8px;
    cursor: pointer;
    p {
      margin: 0;
      color: #c3c3c3;
    }
    &:hover .header__dropdown {
      display: block;
    }
  }
  &__user {
    img {
      width: 24px;
      height: auto;
      display: block;
    }
  }
  &__dropdown {
    position: absolute;
    inset: 100% 0 auto auto;
    margin: 0px;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255 / 1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    min-width: 160px;
    ul {
      margin: 0;
      padding: 0;
      color: rgb(55 65 81 / 1);
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      list-style: none;
    }
  }
  @media (max-width: 1180px) {
    &__des {
      z-index: 6;
      position: absolute;
      img {
        display: block;
      }
    }
    &__click {
      display: none;
    }
  }
  @media (max-width: 320px) {
    &__box {
      width: 91%;
    }
  }
}
