.sidebar {
  background: #243954;
  width: 100%;
  height: 100%;
  &__logo {
    padding-top: 40px;
    img {
      width: 100%;
      height: auto;
      max-width: 155px;
      display: block;
      margin-left: 20px;
    }
  }
  &__menu {
    margin-top: 20px;
    ul {
      padding-left: 0;
    }
  }
  &__text {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 0;
    position: relative;
    transition: all 0.2s linear;
    padding-left: 15px;
    cursor: pointer;
    color: #fff;
    &:hover {
      background: #243041;
    }
    a {
      color: #fff;
      font-size: 16px;
    }
    img {
      width: 20px;
      height: auto;
      display: block;
    }
    b {
      color: #fff;
      font-size: 25px;
      position: absolute;
      right: 15px;
      bottom: -4px;
      font-weight: 400;
    }
    &.active {
      color: #00abe6;
      background: #243041;
    }
  }
}
.click {
  background: #243954;
  width: 100%;
  height: 100%;
  @media (max-width: 1180px) {
    display: none;
  }
}
